<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
     <head>
          <title>Cadastro cliente</title>
          <link rel="icon" href="../imagens/cliente.png" alt=""/>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
          <link href="../css/login.css" rel="stylesheet" type="text/css"/>
          <link href="../css/orcamentos.css" rel="stylesheet" type="text/css"/>
          <link href="../css/cliente.css" rel="stylesheet" type="text/css"/>
          <script src="../bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
     
          
     </head>
     <body>
          <div class="principal">
               <div class="logo">
                    <h1>OFICINA DO POLACO
                         <img src="../imagens/mecanico.gif" alt="" class="img-esquerda"/>
                         <img src="../imagens/motor.gif" alt="" class="img-direita"/>
                    </h1>
               </div>
               <div class="grid-container-cliente">
                    <div>
                         <div>
                              <h5>Cadastro de clientes:</h5>
                         </div>
                         <nav>
                              <p><button type="submit" form="cadastro" class="btn btn-primary button" >Salvar</button></p>
                              <p><button type="submit" class="btn btn-primary button">Limpar</button></p>
                              <p></p>
                              <p><a type="button" class="btn btn-primary button" th:href="@{/orcamentos}" >Voltar</a></p>
                         </nav>
                    </div>
                    <div>
                         <h5>Dados pessoais:</h5>
                         <hr>
                         <form id="cadastro" th:action="@{/cadastroCliente}" method="POST" th:object="${cliente}">
                              <div class="container mt-3">
                                   <div class="row">
                                        <div class="col-sm-6">
                                             <h5>Nome:</h5>
                                             <input type="text" class="descricao inbox" th:field="${cliente.nome}">
                                             <h5>CPF:</h5>
                                             <input id="cpf" type="text" class="descricao inbox" th:field="${cliente.cpf}">
                                        </div>
                                        <div class="col-sm-6">
                                             <h5>RG:</h5>
                                             <input type="text" class="descricao inbox" th:field="${cliente.rg}">
                                             <h5>Telefone:</h5>
                                             <input type="text" class="descricao inbox" th:field="${cliente.telefone}">
                                        </div>
                                   </div>
                              </div>
                         
                         <h5>Endereço:</h5>
                         <hr>
                         
                              <div class="container mt-3">
                                   <div class="row">
                                        <div class="col-sm-6">
                                             <h5>Rua:</h5>
                                             <input type="text" class="descricao inbox" th:field="${cliente.rua}">
                                             <h5>CEP:</h5>
                                             <input type="text" class="descricao inbox" th:field="${cliente.cep}">
                                             <h5>Cidade:</h5>
                                             <input type="text" class="descricao inbox" th:field="${cliente.cidade}">
                                        </div>
                                        <div class="col-sm-6">
                                             <h5>Nº:</h5>
                                             <input type="text" class="descricao inbox" th:field="${cliente.numero}">
                                             <h5>Bairro:</h5>
                                             <input type="text" class="descricao inbox" th:field="${cliente.bairro}">
                                             <h5>Estado:</h5>
                                             <input type="text" class="descricao inbox" th:field="${cliente.estado}">
                                             <input type="hidden" th:field="${cliente.id}"/>
                                        </div>
                                   </div>
                              </div>
                         </form>
                    </div>

               </div>
               <div class="rodape">
                    <div style="overflow-y: scroll; max-height: 230px;" class="container mt-3">
                         <table class="table table-edit"
                                     <thead>
                                        <tr>
                                            <th type="hidden">Id</th>
                                             <th>Nome</th>
                                             <th>CPF</th>
                                             <th>Telefone</th>
                                             <th>Rua</th>
                                             <th>Nº</th>
                                             <th>Cep</th>
                                             <th>Cidade</th>
                                             <th>Estado</th>
                                             <th>Opções</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <tr th:each="cliente : ${clientes}">
                                            <td type="hidden" th:text="${cliente.id}"></td>
                                             <td th:text="${cliente.nome}"></td>
                                             <td th:text="${cliente.cpf}"></td>
                                             <td th:text="${cliente.telefone}"></td>
                                             <td th:text="${cliente.rua}"></td>
                                             <td th:text="${cliente.numero}"></td>
                                             <td th:text="${cliente.cep}"></td>
                                             <td th:text="${cliente.cidade}"></td>
                                             <td th:text="${cliente.estado}"></td>
                                             <td>
                                                <a class="btn btn-outline-warning btn-sm" th:href="@{/alterar-cliente(id=${cliente.id})}">Editar</a>
                                                <a class="btn btn-outline-danger btn-sm" th:href="@{/excluir-cliente(id=${cliente.id})}">Exclir</a>
                                             </td>
                                        </tr>
                                   </tbody>
                              </table>
                         </div>
               </div>
          </div>
          <script src="../js/script.js" type="text/javascript"></script>
     </body>
</html>
