<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login do Sistema</title>
        <link rel="icon" href="../static/imagens/technician.png" alt=""/>
        <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="../static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <link href="../static/css/login.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="principal">
            <Cabecalho class="logo"><h1>OFICINA DO POLACO</h1></Cabecalho>
        </div>
    </body>
</html>
