<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
     <head>
          <title>Orçamentos</title>
          <link rel="icon" href="../imagens/manutencao.png" alt=""/>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
          <link href="../css/login.css" rel="stylesheet" type="text/css"/>
          <link href="../css/orcamentos.css" rel="stylesheet" type="text/css"/>
          <script src="../bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
     </head>
     <body>
          <div class="principal">
               <div class="logo">
                    <h1>OFICINA DO POLACO
                         <img src="../imagens/mecanico.gif" alt="" class="img-esquerda"/>
                         <img src="../imagens/motor.gif" alt="" class="img-direita"/>
                    </h1>
               </div>
               <div class="container mt-3">
                    <div class="input-group mt-3 mb-3">
                         <button type="button" class="btn btn-primary dropdown-toggle button-menu" data-bs-toggle="dropdown">
                              Cadastros
                         </button>
                         <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Clientes</a></li>
                              <li><a class="dropdown-item" href="#">Veículos</a></li>
                         </ul>
                         <button type="button" class="btn btn-primary dropdown-toggle button-menu" data-bs-toggle="dropdown">
                              Relatórios
                         </button>
                         <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">OS</a></li>
                              <li><a class="dropdown-item" href="#">Vendas</a></li>
                         </ul>
                    </div>
               </div>
               <div class="grid-container">
                    <div>
                         <nav
                             <p><a type="submit" class="btn btn-primary button">Consultar / Placa</a></p>
                              <p><a type="button" class="btn btn-primary button">Criar Ordem de Serviço</a></p>
                              <p><a type="button" class="btn btn-primary button">Limpar</a></p>
                              <p><a type="button" class="btn btn-primary button">Excluir</a></p>
                              <p><a type="button" class="btn btn-primary button" th:href="@{/login}" >SAIR</a></p>
                         </nav>
                    </div>
                    <div>
                         <form>
                              <div class="container mt-3">
                                   <div class="row">
                                        <div class="col-sm-4">
                                             <h5>Placa:</h5>
                                             <input type="text" class="descricao">
                                             <h5>OS:</h5>
                                             <input type="text" class="descricao">
                                        </div>
                                        <div class="col-sm-4">
                                             <h5>Km anterior:</h5>
                                             <input type="text" class="descricao">
                                             <h5>Data serviço:</h5>
                                             <input type="text" class="descricao">
                                        </div>
                                        <div class="col-sm-4">
                                             <h5>Km atual:</h5>
                                             <input type="text" class="descricao">
                                        </div>
                                   </div>
                              </div>
                         </form>
                         <div style="overflow-y: scroll; height: 180px;" class="container mt-3">
                              <table class="table table-edit"
                                     <thead>
                                        <tr>
                                             <th>Peça</th>
                                             <th>Quantidade</th>
                                             <th>Valor unitário</th>
                                             <th>Valor total</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <tr>
                                             <td>Pastilha de freio</td>
                                             <td>1</td>
                                             <td>120,00</td>
                                             <td>120,00</td>
                                        </tr>
                                        <tr>
                                             <td>Disco de freio</td>
                                             <td>2</td>
                                             <td>80,00</td>
                                             <td>160,00</td>
                                        </tr>
                                        <tr>
                                             <td>Pastilha de freio</td>
                                             <td>1</td>
                                             <td>120,00</td>
                                             <td>120,00</td>
                                        </tr>
                                        <tr>
                                             <td>Disco de freio</td>
                                             <td>2</td>
                                             <td>80,00</td>
                                             <td>160,00</td>
                                        </tr>
                                        <tr>
                                             <td>Pastilha de freio</td>
                                             <td>1</td>
                                             <td>120,00</td>
                                             <td>120,00</td>
                                        </tr>
                                        <tr>
                                             <td>Disco de freio</td>
                                             <td>2</td>
                                             <td>80,00</td>
                                             <td>160,00</td>
                                        </tr>
                                        <tr>
                                             <td>Disco de freio</td>
                                             <td>2</td>
                                             <td>80,00</td>
                                             <td>160,00</td>
                                        </tr>
                                        <tr>
                                             <td>Pastilha de freio</td>
                                             <td>1</td>
                                             <td>120,00</td>
                                             <td>120,00</td>
                                        </tr>
                                        <tr>
                                             <td>Disco de freio</td>
                                             <td>2</td>
                                             <td>80,00</td>
                                             <td>160,00</td>
                                        </tr>
                                        <tr>
                                             <td>Pastilha de freio</td>
                                             <td>1</td>
                                             <td>120,00</td>
                                             <td>120,00</td>
                                        </tr>
                                        <tr>
                                             <td>Disco de freio</td>
                                             <td>2</td>
                                             <td>80,00</td>
                                             <td>160,00</td>
                                        </tr>
                                   </tbody>
                              </table>
                         </div>
                    </div>
                    <div>
                         <form>
                              <div class="menuDesc">
                                   <h5>Descrição da peça:</h5>
                                   <p><input type="text" class="descricao"</p>
                              </div>
                              <div class="menuDesc">
                                   <div class="grid-container3">
                                        <div>
                                             <h5>Valor Unitário:</h5>
                                             <p><input type="text" class="descricao"</p>
                                        </div>
                                        <div>
                                             <h5>Quantidade:</h5>
                                             <p><input type="text" class="descricao"</p>
                                        </div>
                                        <div>
                                             <h5>%:</h5>
                                             <p><input type="text" class="descricao"</p>
                                        </div>
                                   </div>
                                   <div class="grid-container4">
                                        <div>
                                             <nav>
                                                 <a type="submit" class="btn btn-primary buttonPeca">Adicionar</a>
                                             </nav>
                                        </div>
                                        <div>
                                             <nav>
                                                  <a type="submit" class="btn btn-primary buttonPeca">Limpar</a>
                                             </nav>
                                        </div>
                                   </div>
                              </div>
                         </form>
                         <div style="width: 50%; margin: 10px">
                              <div>
                                   <h5>Valor Total:</h5>
                                   <p><input type="text" class="descricao"</p>
                              </div>
                              <div>
                                   <nav>
                                   <a type="submit" class="btn btn-primary buttonEx">Excluir</a>
                                   </nav>
                              </div>
                         </div>
                         
                    </div>
               </div>
               <div class="rodape">
                    <div style="overflow-y: scroll; max-height: 230px;" class="container mt-3">
                              <table class="table table-edit"
                                     <thead>
                                        <tr>
                                             <th>Cliente</th>
                                             <th>Placa</th>
                                             <th>Veiculo</th>
                                             <th>Km atual</th>
                                             <th>Valor total</th>
                                             <th>Data Serviço</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                        <tr>
                                             <td>Paulo Freitas</td>
                                             <td>AAA-0000</td>
                                             <td>Veron</td>
                                             <td>23500</td>
                                             <td>1.250,00</td>
                                             <td>12/12/2012</td>
                                        </tr>
                                   </tbody>
                              </table>
                         </div>
               </div>
          </div>
     </div>

</div>
</body>
</html>
