<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
     <head>
          <title>Cadastro veiculo</title>
          <link rel="icon" href="../imagens/veiculo.png" alt=""/>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
          <link href="../css/login.css" rel="stylesheet" type="text/css"/>
          <link href="../css/orcamentos.css" rel="stylesheet" type="text/css"/>
          <link href="../css/cliente.css" rel="stylesheet" type="text/css"/>
          <script src="../bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
     </head>
     <body>
          <div class="principal">
               <div class="logo">
                    <h1>OFICINA DO POLACO
                         <img src="../imagens/mecanico.gif" alt="" class="img-esquerda"/>
                         <img src="../imagens/motor.gif" alt="" class="img-direita"/>
                    </h1>
               </div>
               <div class="grid-container-cliente">
                    <div>
                         <div>
                              <h5>Cadastro de Veiculo:</h5>
                         </div>
                        <nav>
                            <p><button type="submit" form="cliente" class="btn btn-primary button">Consulta / CPF</button></p>
                            <p><button type="submit" form="cadastro" class="btn btn-primary button">Salvar</button></p>
                            <p><button type="submit" class="btn btn-primary button">Limpar</button></p>
                            <p><a type="button" class="btn btn-primary button" th:href="@{/'/incluirOrcamento?id='+0}" >Voltar</a></p>
                         </nav>
                    </div>
                    <div>
                         <h5>Dados pessoais:</h5>
                         <hr>
                         <form>
                              <div class="container mt-3">
                                   <div class="row">
                                        <div class="col-sm-6">
                                             <h5>Nome:</h5>
                                             <input type="text" class="descricao inbox" th:field="${cliente.nome}">
                                        </div>
                                        <div class="col-sm-6">
                                             <h5>CPF:</h5>
                                             <input type="text" name="cpfCliente" class="descricao inbox" th:field="${cliente.cpf}">
                                             <input type="hidden" th:field="${cliente.id}">
                                        </div>
                                   </div>
                              </div>
                         </form>
                         <h5>Veiculo:</h5>
                         <hr>
                         <form id="cadastro" th:action="@{/guardarVeiculo}" method="POST" th:object="${veiculo}">
                              <div class="container mt-3">
                                   <div class="row">
                                        <div class="col-sm-6">
                                             <h5>Fabricante:</h5>
                                             <input type="text" class="descricao inbox" th:field="${veiculo.fabricante}">
                                             <h5>Ano fabricação:</h5>
                                             <input type="text" class="descricao inbox" th:field="${veiculo.anoFabricacao}">
                                             <h5>Placa:</h5>
                                             <input type="text" class="descricao inbox" th:field="${veiculo.placa}">
                                        </div>
                                        <div class="col-sm-6">
                                             <h5>Modelo:</h5>
                                             <input type="text" class="descricao inbox" th:field="${veiculo.modelo}">
                                             <h5>Ano moelo:</h5>
                                             <input type="text" class="descricao inbox" th:field="${veiculo.anoModelo}">
                                             <h5>Hodometro / Km:</h5>
                                             <input type="text" class="descricao inbox" th:field="${veiculo.hodometroAtual}">
                                             <input type="hidden" th:field="${veiculo.idVeiculo}"/>
                                             <input type="hidden" th:field="${cliente.id}"/>
                                        </div>
                                   </div>
                              </div>
                         </form>
                    </div>

               </div>
               <div class="rodape">
                    <div style="overflow-y: scroll; max-height: 230px;" class="container mt-3">
                              <table class="table table-edit"
                                     <thead>
                                        <tr>
                                             <th>ID</th>
                                             <th>Fabricante</th>
                                             <th>Modelo</th>
                                             <th>Ano Fabricação</th>
                                             <th>Ano Modelo</th>
                                             <th>Hodometro/Km</th>
                                             <th>Opçoes</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <tr th:each="veiculo : ${veiculos}">
                                             <td th:text="${veiculo.idVeiculo}"></td>
                                             <td th:text="${veiculo.fabricante}"></td>
                                             <td th:text="${veiculo.modelo}"></td>
                                             <td th:text="${veiculo.anoFabricacao}"></td>
                                             <td th:text="${veiculo.anoModelo}"></td>
                                             <td th:text="${veiculo.hodometroAtual}"></td>
                                             <td>
                                                <a class="btn btn-outline-danger btn-sm" th:href="@{'/excluirVeiculo?id='+${veiculo.idVeiculo}}">Exclir</a>
                                                <a class="btn btn-outline-info btn-sm" th:href="@{'/incluirOrcamento?id='+${veiculo.idVeiculo}}">OS</a>
                                             </td>
                                        </tr>
                                   </tbody>
                              </table>
                         </div>
               </div>
          </div>
     </body>
</html>
