.principal {
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.principal::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../imagens/oficina.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.logo{
    background-color: blue;
    background-size: 100%;
    border-radius: 20px;
    opacity: 0.5;
    width: auto;
}

h1{
    color: #ffffff;
}